   /* Estilo do slide */
        .slide {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: inherit;
            padding: 0px;
        }
        
        /* Estilo das imagens do slide */
        .slide img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
        
        /* Estilo do slide ativo */
        .slide img.active {
            opacity: 1;
        }

/*   A melhor solução para seu Negócio   */
.solucao {
    width: 260px;
    height: 260px;
    background-color: #C0C0C0;
    color: black;
    opacity: 0.5;
    display: inline-flex;
    margin: 28px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black, -10px -10px 10px grey;
 
}
.solucao p{
    text-align: center;
    margin-top: 40%;
    font-size: 16px;
    font-weight: bold;
}
.solucao em{
    font-size: 18px;
}
.solucao img{
    width: 30px;
    height: 30px;
}
#sol1{
    background-image: url(../images/venda.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70px 70px;
}
#sol2{
    background-image: url(../images/constru.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80px 75px;
}
#sol3{
    background-image: url(../images/invista.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 120px 90px;

}
#sol4{
    background-image: url(../images/localiza.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110px 90px;

}
.solucao:hover{
    transition: 1s;
    opacity: 1;
}
@media (max-width: 767px) {
  .solucao{
    transition: default;
    opacity: 1;
    /* outros estilos do menu... */
  }
}






/*
https://www.youtube.com/watch?v=x-4z_u8LcGc
https://agregabr.com.br/
https://wime.com.br/2015/08/21/8-efeitos-de-transicao-em-css3-css3-transitions/
*/